// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$light-blue: #bbbfca;
$gray: #e8e8e8;
$light-gray: #f4f4f2;
$blue: #495464;
$purple:#706897;


