#searchbar {
  border-bottom: solid 2px $blue;
  padding: 5px 0;
  margin-bottom: 5px;
}


.book-search {
  background-color: $booker-gray;
  border-radius: 2px;
  padding: 5px 8px;
  font-weight: lighter;
}


#index-container {
  padding: 0px 70px;
}

#book-row {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
