#searchbar {
  border-bottom: solid 2px $blue;
  padding: 5px 0;
  margin-bottom: 5px;
}


.book-search {
  background-color: #f6f5f1;
  border-radius: 2px;
  padding: 5px 8px;
  font-weight: lighter;
}
