.cancel-booking {
  color:red;
  font-size:30px;
}

.confirm-booking {
  color:green;
  font-size:30px;
}

.accepted {
  position: absolute;
  font-size: 1.5em;
  right: 20px;
  top: 20px;

}

.reservation-actions {
  position: absolute;
  right:20px;
  bottom: 5px;
}
