<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/OvhBooker"><i class="fab fa-twitter"></i></a>
    <a href="mailto:fake@booker.ovh" onClick="this.href=this.href.replace('fake', 'booker')"><i class="far fa-envelope"></i></a>
  </div>

  <%= link_to books_path, class: "navbar-brand p-0" do %>
    <%= cl_image_tag 'Booker_Logo'  %>
  <% end %>

  <div class="footer-copyright">
    Spend less, read more!
  </div>
</div>


