<div class="banner">
  <div class="container">
    <%= image_tag("logo1.png", class: "logo") %>
    <br>
    <h1><strong>INTRODUCING BOOKER</strong></h1>
    <br>
    <br>
    <p>have a view in all your friends library at once!</p>
    <br>
    <a href="/books" class="far fa-arrow-alt-circle-down" id="go"></a>
  </div>
</div>
