<h1>Welcome to our book collection</h1>
<% if @no_result == true %>
  <div class="p-3 mb-2 bg-warning text-dark"><strong>Holy cocktail!</strong> Your search gave no result!</div>
<% end %>
<div class="cards">
  <% @books.each do |book| %>

    <%= link_to book_path(book) do %>
      <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path book.cover.key %>)">
        <%= book.title %>
      </div>
    <% end %>
  <% end %>
</div>
