.login-banner {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('https://res.cloudinary.com/bestycame/image/upload/v1606313174/bookersignup.jpg');
  height:50vh;
  position: relative
}
.login-banner-text {
  position: absolute;
  left: 50px;
  bottom: 30px;
}
.login-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.login-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.login-banner .content {
  padding:50px 30px;
  min-width: 0px;
}


.index-banner {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/bestycame/image/upload/v1606313042/bookerindex.jpg');
  height:320px;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 50px;
}
.index-banner #index-title {
  color: white;
}
