.login-banner {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('/assets/sign-up.jpg');
  height:50vh;
}

.login-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.login-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.login-banner .content {
  padding:50px 30px;
  min-width: 0px;
}


.index-banner {
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('/assets/index.jpg');
  height:30vh;
}
