.btn-booker {
  color: white;
  background-color: #495464;
  border-radius: 20px;
  padding: 6px 10px;
  min-width: 100px;
  text-align: center;
  &:hover {
    text-decoration: none;
    color:#e8e8e8;
    transform: translateY(-1px);
    color: white;
  }
}

