.btn-booker {
  color: white;
  background-color: $blue;
  border-radius: 20px;
  padding: 6px 10px;
  min-width: 100px;
  text-align: center;
  &:hover {
    text-decoration: none;
    color:#e8e8e8;
    transform: translateY(-1px);
    color: white;
  }
}

.btn-add {
  color: white;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background-color: $blue;
  border-radius: 20px;
  padding: 8px 9px;
}
