.navbar-lewagon {
  justify-content: space-between;
  background: #f4f4f2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-left: 10
}

.navbar {
  padding: 0.5rem 2rem;
}
