.navbar-lewagon {
  justify-content: space-between;
  background: #839b97;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-left: 10
}

.navbar {
  padding: 0.5rem 2rem;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 70px;
}
